@import '../../design-tokens/variables.scss';
@import '../../design-tokens/mixins.scss';

.Users {
  width: 100%;
  height: auto;
  border: $border;
  box-shadow: $boxshadow;
  border-radius: 8px;

  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    min-width: 800px;
    background-color: #fff;
  }
  table thead tr {
    transition: all 0.2s ease-in-out;
  }
  table thead tr th,
  table tbody tr td {
    font-family: inherit;
    color: $mainBlack;
    font-weight: 400;
    text-align: left;
    padding: 12px;
    border-bottom: $border;

    @include atSmall {
      padding: 12px 18px;
    }
  }
  table tbody tr td {
    padding: 24px 12px;
  }

  table tbody tr:hover {
    background-color: rgba($lightGray, 0.2);
  }

  table tbody {
    border-bottom: $border;
  }

  .tablenav {
    background-color: $lightBlue;
    border-bottom: $border;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $darkGray;
    margin: 1rem 1rem;
    @include atSmall {
      margin: 1rem 2rem;
    }

    p {
      font-size: 0.875rem;
    }
  }

  .loading {
    color: $darkGreen;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    padding: 3rem;
  }
}

.checkbox-container {
  display: flex;
}
.checkbox-label {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.checkbox {
  width: 20px;
  height: 20px;
  border: $border;
  border-radius: 5px;

  &--active {
    border: 1px solid $darkBlue;
    background-color: $lightBlue;
    position: relative;
  }
  &--active::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid $darkBlue;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
