@import '../../../design-tokens/mixins.scss';

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  @include atMedium {
    flex-direction: row;
  }
  &--reverse {
    flex-direction: column-reverse;
    @include atMedium {
      flex-direction: row;
    }
  }
}
